---
name: Release
on:
  push:
    tags:
    - 'v*'
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: "1.15"
      id: go
    - name: Crossbuild
      run: make crossbuild
    - name: Checksums
      run: make crossbuild-checksums
    - name: Create release
      if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        draft: false
        prerelease: true
    - name: Upload artifacts
      if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      uses: alexellis/upload-assets@0.2.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        asset_paths: '["./dist/yage-*-*", "./dist/checksums"]'
